.active{
  background-color: #7950f2;
}
.steps{
  background-color: #eee;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
}
.numbers{
  display: flex;
  justify-content: space-around;
}
.numbers div{
  /*background-color: #d6d1d1;*/
  padding: 4px 7px;
  border-radius: 100%;
}
p{
  text-align: center;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
button{
  background-color: #7950f2;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 10px;

}
.btn{
background-color: transparent;
color: black;
font-size: 16px;
}